# Server Configuration
PORT=3001
DATABASE_URL=postgresql://user:password@localhost:5432/doodleplay?schema=public
CLIENT_URL=http://localhost:5173
JWT_SECRET=your_super_secret_jwt_key

# WebRTC (Optional)
TURN_SERVER_URL=
TURN_SERVER_USERNAME=
TURN_SERVER_PASSWORD=
